<footer>
  <p class="footer__copy">
    <small>
      <span class="copyright">&copy; Copyright 2013,</span>
      <span class="copyright">Robert Houde Wines, LLC.</span>
    </small>
  </p>
</footer>

</div>
</div>


  <script src="http://roberthoudewines.com/js/vendor/jquery.js"></script>
  <script src="http://roberthoudewines.com/js/foundation.min.js"></script>
  <script src="http://roberthoudewines.com/js/vendor/handlebars-v1.3.0.js"></script>
  <script src="http://roberthoudewines.com/js/vendor/jquery.slabtext.min.js"></script>
  <script type="text/javascript" src="{{asset "/assets/js/jquery.fitvids.js"}}></script>
  <script src="http://roberthoudewines.com/js/robert-houde-wines.js"></script>
  <script>
    $(document).ready(function(){
        // Target your .container, .wrapper, .post, etc.
        $(".post__content").fitVids();
    });

    $(document).foundation();
  </script>
</body>
</html>
